<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn NodeJS</title>
</head>
<body>
    <h1>IGotThePower</h1>
    <img src="images/igotthepower.jpg" alt="my-avatar">
</body>
</html>